<html>
	<head>
        <style> img {width: 70%;height: 70%;}</style>
	</head>

	<body onload = "show()">
		<div class = 'container'>
			<h1><%=title%></h1>
			<h4><%=description%></h4><hr>
			<p id = "photo"></p>
			<p>Make: <%=make%></p>
			<p>Model: <%=model%></p>
			<p>Createon: <%=createon%></p>
			<p>Location: <a href = '/gmap' class = "btn btn-primay">Map</a></p>
			<p><a href = '/upload' class = "btn btn-primary">home</a></p>
		</div>
	</body>
</html>
			<script>
				function show() {
					var show = <%=display%>;
					if (show === true) {
						photo = '<img src="data:<%=phototype%>;base64, <%=photo%>"><hr>';
					} else{
						photo = 'ERROR';
					}
					document.getElementById("photo").innerHTML = photo;
				}
			</script>
